<h1>Entwicklung</h1>
<p>Unser Projekte sind größtenteils mit JavaScript programmiert. Dieser Test überprüft die Kommunikation mit unserem
    NodeJS-Server. Dabei wird ein API-Endpunkt angegeben, an den man verschiedene Informationen senden kann, welche dann
    vom Server verarbeitet werden können. In diesem Fall wartet eine Test-API darauf, die eingehenden Informationen
    kurzzeitig zu speichern, um diese in der Rückantwort wieder mitliefern zu können.</p>
<h2>Test</h2>
<button id="test-button" data-action="handle-click">Teste mich!</button>
<span id="test-status"></span>