<h1>Impressum - Über uns</h1>

<h2>GoldiMental</h2>
<h4>Gegründet von Zwei, Gedacht für Alle.</h4>
<p>Wir bei GoldiMental legen viel Wert darauf, mit möglichst wenig, viel zu erreichen. Als wir anfingen
    ein eigenes Spiel für den Brwoser zu entwickeln, konnten wir nicht anders, als natürlich auch ein paar nützliche
    Tools und diese Homepage zu entwickeln. Denn dieses Spiel wurde während eines Online-Kurses entwickelt, in dem sich
    die Gründer von GoldiMental erstmals kennenlernten und gemeinsam den Weg zum Full-Stack-Entwickler
    bestritten.
</p>
<p>Nun möchten wir mit unserer speziellen Sicht auf Projektentwicklung & -umsetzung unseren Teil dazu beitragen,
    Fortschritt ganz neu zu entdecken. Mit innovativen und eleganten Lösungen tragen wir dazu bei, das ein Jeder seinen
    Nutzen dabei hat. Sei es in der Optimierung der Arbeitsabläufe, durch die Integration einer gut-durchdachten
    Web-Applikation, oder in der Web-Gestaltung und im Web-Hosting Ihrer neuen Produkte, durch individuelle Beratung und
    Kundennähe.
</p>
<p>Nach der Arbeit macht es uns allerdings auch sehr viel Spaß, gemeinsam an unterhaltsamen Projekten, wie TulpaKing, zu
    tüfteln. Spielerserver für Spiele wie Space Engineers, Minecraft oder sogar GTA V RolePlay einzurichten, um dann,
    live auf twitch.tv mit der Community, echte Abenteuer zu erleben.
</p>

<h2>Community Discord</h2>
<p>Wir haben einen eigenen Community-Discord Server! Dort findet Ihr alle Neuigkeiten, Live-Entwicklungen und Support,
    dank eines integrierten Ticket-System's. Viele verschiedene öffentliche Räume, von Text bis Video-Übertragung zur
    gemeinsamen Nutzung, erwarten Dich. Es braucht nur ein eigenes Discord-Konto. Discord funktioniert auch nur im
    Browser!
</p>
<a href="https://discord.gg/qNqz3AUuN7" target="_blank">Discord - GoldiMental Entertainment</a>
<i style="font-size: 0.7em;"></br>Die Nutzung unseres Discord-Servers erfolgt auf freiwilliger Basis. Hierfür gelten die Datenschutzbestimmungen von
    Discord. Wir haben keinen Einfluss auf die dort erhobenen Daten.</i>

<h2>Kontaktinformationen</h2>
<p>"GoldiMental" ist der Handelsname folgender Inhaber:</p>

<h3>Goldigste</h3>
<p>Name: Goldbach, Daniel</p>
<p>Straße: Leipziger Str. 42</p>
<p>PLZ, Ort: 63607 Wächtersbach</p>
<p>Email: <a href="mailto:danielgoldbach@gmx.de">danielgoldbach@gmx.de</a></p>

<h3>Jaymental alias "JaymentalEntertainment"</h3>
<p>Name: Hoffmann, Johnny</p>
<p>Straße: Gartenstr. 14</p>
<p>PLZ, Ort: 18439, Stralsund</p>
<p>Email: <a href="mailto:djohnnyhoffmann@gmail.com">djohnnyhoffmann@gmail.com</a></p>

<br /><br />
<h3>Rechtshinsweis zum Datenschutz</h3>
<p>Solltest du der Ansicht sein, dass die Verarbeitung deiner Daten nicht den gesetzlichen Bestimmungen entspricht, hast
    du das Recht, dich bei der zuständigen Aufsichtsbehörde zu beschweren. Für uns zuständig in diesem Fall ist aktuell der Landesbeauftragte
    für Datenschutz- und Informationsfreiheit Mecklenburg-Vorpommern, Lennéstraße 1, 19053 Schwerin.</p>
<p>Allerdings erheben wir aktuell keine Daten von Dir mit dieser Homepage 😉<br> Wir senden uns höchstens unsere eigenen Daten zurück 😇</p>