<h1>Willkommen bei GoldiMental Entertainment</h1>
<p>Wir stehen auf Dinge, die einfach funktionieren. Hier findest Du alles Mögliche über Uns und unsere Produkte.
    Darüber hinaus gewinnst du hier und da direkten Einblick in der Entwicklungsproduktion von TulpaKing 2.0.
    Dies kannst du gerne auch live auf twitch.de verfolgen.</p>