<h1>Willkommen bei GoldiMental</h1>
<h3>Wir stehen auf Dinge, die Einfach funktionieren.</h3>
<p>Hier findest Du alles Mögliche über Uns und unsere Produkte.
    Darüber hinaus gewinnst Du hier und da direkten Einblick in die Entwicklungsproduktion von TulpaKing 2.0.
    Dies kannst Du gerne auch live auf <a href="https://twitch.tv" target="_blank" title="twitch.tv">twitch.tv</a>
    verfolgen.
</p>
<div id="twitchLiveFeed">
    <iframe src="https://player.twitch.tv/?channel=goldigste&parent=www.goldimental.de&autoplay=false">
    </iframe>
    <iframe src="https://player.twitch.tv/?channel=jaymentalentertainment&parent=www.goldimental.de&autoplay=false">
    </iframe>
</div>

<p>Aber meist wirst du auf twitch.tv sehen, wie <a href="https://twitch.tv/goldigste" target="_blank"
        title="twitch.tv > Goldigste">Goldigste</a> in RocketLeague vergeblich versucht Grand Champ zu werden oder wie
    <a href="https://twitch.tv/jaymentalentertainment" target="_blank"
        title="twitch.tv > JaymentalEntertainment">Jaymental</a> ihn dabei unterstützt, obwohl er noch viel weiter davon
    entfernt ist.
</p>