<h1>TulpaKing 2.0</h1>
<p>TulpaKing's Offizielle Version unter GoldiMental. Die Urversion wurde im Zusammenhang eines
    Weiterbildungskurses bei Techstarter entwickelt und ist natürlich bei weitem nicht das, was Ihr verdient
    habt.
    Ja, wir konnten so einiges an Funktionen und Features umsetzen. Aber unter uns... Da geht natürlich deutlich
    mehr. In Kürze wird hier eine spielbare Urversion integriert und natürlich eine Menge Infos zum Stand der
    Entwicklung von TulpaKing 2.0.
</p>
<!--div id="TulpaKingGame">
    <div id="Movement">
        <div id="Map"></div>
        <div id="Player" class="down"></div>
        <button id="ToggleMenu" onclick="toggleMenu()">≣</button>
        <div id="Menu" class="hidethis">
            <button disabled>Dex</button>
            <button disabled>Tulpas</button>
            <button disabled>Tasche</button>
            <button onclick="toggleInfo()">Info</button>
            <button disabled>Speichern</button>
            <button disabled>Beenden</button>
        </div>
        <div id="Menucontent" class=""></div>
        <div>
            <button id="moveUp">△</button>
            <button id="moveDown">▽</button>
            <button id="moveLeft">◁</button>
            <button id="moveRight">▷</button>
        </div>
    </div>
    <div id="Fight">

    </div>
    <div id="Overlay">

    </div>
</div-->
