<h1>TulpaKing 2.0</h1>
<p>TulpaKing's Offizielle Version unter GoldiMental Entertainment. Die Urversion wurde im Zusammenhang eines
    Weiterbildungskurses bei Techstarter entwickelt und ist nat端rlich bei weitem nicht das, was Ihr verdient
    habt.
    Ja, wir konnten so einiges an Funktionen und Features umsetzen. Aber unter uns... Da geht nat端rlich deutlich
    mehr. In K端rze wird hier eine spielbare Urversion integriert und nat端rlich eine Menge Infos zum Stand der
    Entwicklung von TulpaKing 2.0.
</p>