#test-button {
    background: none;
    color: rgb(210,170,100);
    border: 1px solid rgb(210,170,100);
    border-radius: 1em;
    padding: 0.5em;
}
#test-status {
    text-decoration: underline;
    padding: 0.5em;
    transition: all 0.5s ease;
}