#TulpaKingGame {
    display: block;
    background-color: rgb(0, 0, 0);
    justify-self: center;
    height: 500px;
    width: 500px;
    border: 1em ridge rgb(150, 150, 150);
    border-radius: 15px 15px 30px 30px;
    overflow: hidden;
}

#Movement {
    position: relative;
    width: 100%;
    height: 100%;
}

#Map {
    position: absolute;
    top: -75px;
    left: -25px;
    background-image: url(../img/TulpaKing/Maps/MAP.gif);
    width: 4750px;
    height: 2500px;
    transition: left 0.2s linear, top 0.2s linear;
}

#Player {
    position: absolute;
    background-position: center;
    background-size: 150%;
    top: 225px;
    left: 225px;
    height: 50px;
    width: 50px;
}

.down {
    background-image: url(../img/TulpaKing/Player/front.png);
}

#ToggleMenu {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgb(210, 170, 100);
    background: radial-gradient(rgb(0, 0, 0), rgb(50, 50, 50));
}

#Menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.2em;
    border: 0.2em outset rgb(50, 50, 50);
    border-radius: 0.5em;
    background: radial-gradient(rgb(50, 50, 50), rgb(100, 100, 100));
}

#Menu>button {
    margin: 0.2em;
    padding: 0.2em;
    font-size: 1.1em;
    border-radius: 0.5em;
    background: linear-gradient(90deg, rgb(100, 100, 100), rgb(50, 50, 50));
}

#Menucontent {
    position: absolute;
    left: 1em;
    top: 1em;
    padding: 0.5em;
    border: 0.2em outset rgb(50, 50, 50);
    border-radius: 0.5em;
    background: radial-gradient(rgb(50, 50, 50), rgb(100, 100, 100));
}

#moveUp {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 50%;
    bottom: 5em;
    left: 3.5em;
    height: 1.5em;
    width: 1.5em;
    color: rgb(210, 170, 100);
    background: radial-gradient(rgb(50, 50, 50), rgb(100, 100, 100));
}

#moveDown {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 50%;
    bottom: 2em;
    left: 3.5em;
    height: 1.5em;
    width: 1.5em;
    color: rgb(210, 170, 100);
    background: radial-gradient(rgb(50, 50, 50), rgb(100, 100, 100));
}

#moveLeft {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 50%;
    bottom: 3.5em;
    left: 2em;
    height: 1.5em;
    width: 1.5em;
    color: rgb(210, 170, 100);
    background: radial-gradient(rgb(50, 50, 50), rgb(100, 100, 100));
}

#moveRight {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 50%;
    bottom: 3.5em;
    left: 5em;
    height: 1.5em;
    width: 1.5em;
    color: rgb(210, 170, 100);
    background: radial-gradient(rgb(50, 50, 50), rgb(100, 100, 100));
}

#Fight {}

#Overlay {}

@media (max-width: 600px) {
    #TulpaKingGame {
        transform: scale(0.8);
    }
}

@media (max-width: 480px) {
    #TulpaKingGame {
        transform: scale(0.6);
    }
}